[submodule "googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "app/third_party/ProgramOptions.hxx"]
	path = app/third_party/ProgramOptions.hxx
	url = https://github.com/Fytch/ProgramOptions.hxx
